<div class="album-info">
  <img src={{model.artwork}}>
  <h1>{{model.name}}</h1>
  <h2>{{model.artist}}</h2>
</div>

<table class="album-listing">
{{!-- since the song belongs to an album we can access songs from the album model which is denoted as 'model' --}}
  {{#each song in model.songs}}
    {{!-- uses the song-row component and passed in a song model to be used in the song-row template  --}}
    {{song-row song=song}}
  {{/each}}
  <tr>
    <td class="total-duration" colspan="3">Total Time: {{format-duration model.totalDuration}}</td>
  </tr>
</table>
