<div class="album-info">
  <img src={{model.artwork}}>
  <h1>{{model.name}}</h1>
  <h2>{{model.artist}}</h2>
</div>

<table class="album-listing">
{{!-- since the song belongs to an album we can access songs from the album model which is denoted as 'model' --}}
  {{#each song in model.songs}}
  <tr>
    <td class="song-track">
      <span class="track-number">{{song.track}}</span>
    </td>
    <td class="song-name">{{song.name}}</td>
    <td class="song-duration">{{format-duration song.duration}}</td>
  </tr>
  {{/each}}
  <tr>
    <td class="total-duration" colspan="3">Total Time: {{format-duration model.totalDuration}}</td>
  </tr>
</table>
